Source: kubernetes
Maintainer: Jessica Toscani <jessica@exoscale.ch>
Build-Depends: debhelper (>= 9),
               wget, ca-certificates, lsb-release,
               dh-systemd,
               zip

Package: kubernetes-master
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         adduser
Description: Kubernetes Master Components - Cluster's control plane

Package: kubernetes-node
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         adduser
Description: Kubernetes Node Components - Kubernetes runtime environment
