[Unit]
Description="Kubernetes Controller-Manager"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/kubernetes/controller-manager/kubeconfig
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=kube
Group=kube
EnvironmentFile=/etc/default/kube-controller-manager
ExecCondition=/usr/bin/test -n "$KUBE_CONTROLLER_MANAGER_ENABLE"
ExecStart=/usr/bin/kube-controller-manager.launcher
Restart=on-failure
RestartSec=5
TimeoutStopSec=60
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
